html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #1A1A1A;
}

.container {
    display: flex;
    border-radius: 10px; /* Borde redondeado */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%; /* Ancho del contenedor al 100% */
    height: 100vh; /* Altura del contenedor al 100% de la ventana */
}

.animated-image {
    width: 50%; /* Ancho del lado izquierdo (imagen de sillas vacías en el teatro) */
    background: url('https://unsplash.com/photos/ewGMqs2tmJI/download?force=true') center/cover no-repeat; /* Ajusta la imagen de fondo */
}

.login-form {
    width: 50%; /* Ancho del lado derecho (formulario de inicio de sesión) */
    background: #FFFFFF;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form h1 {
    margin-top: 0;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #1A1A1A;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #FFB800;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 10px 0;
}

.google-login {
    background-color: #1A1A1A;
}

button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia a disposición de columna en pantallas pequeñas */
        height: auto; /* Ajusta la altura automáticamente en pantallas pequeñas */
    }
    .animated-image,
    .login-form {
        width: 100%; /* Ocupa el 100% del ancho en dispositivos pequeños */
    }
}
